<div class="container">
    <h2>Employee Info</h2>
    <div class="float-lg-right">
      <button routerLink="">Logout</button>
    </div>
    <table class="table table-striped">
        <thead>
          <tr>
            <th>Emp Id</th>
            <th>Name</th>
            <th>email</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td *ngIf="employee.id!=undefined"> {{employee.id}}</td>
            <td *ngIf="employee.name!=undefined"> {{employee.name}}</td>
            <td *ngIf="employee.email!=undefined"> {{employee.email}}</td>
          </tr>
      </tbody>
    </table>


    <h3>Review Employees</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Emp Id</th>
        <th>Review</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody *ngFor="let postVal of employees">
      <tr *ngIf="emp_id==postVal.reviewer_id">
        <td> {{postVal.emp_id}}</td>
        <td> {{postVal.review}}</td>
        <td><button type="button" routerLink="review" 
          [queryParams]="{emp_id: employee.id, review_id: postVal.emp_id, id:postVal.id}">
          write/update</button></td>
      </tr>
  </tbody>
</table>
</div>


 