<h2>Login Page</h2>

<form [formGroup]="form" (ngSubmit)="login()">
  <div class="imgcontainer">

  </div>
  <div formGroupName="account">

  <div class="container form-group">
    <label for="uname"><b>Username</b></label>
    <input 
    type="text" 
    formControlName="username" 
    class="form-control" 
    placeholder="Enter Username" 
    name="uname" 
    required>

    <label for="psw"><b>Password</b></label>
    <input formControlName="password"
    id="password" 
    type="password" 
    placeholder="Enter Password" 
    name="psw" 
    class="form-control"
    required>
        
    <button type="submit">Login</button>
  </div>
</div>
  <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn">Cancel</button>
    <span class="psw"><a routerLink="/register">Register New User</a></span>
  </div>
</form>
